<header id="menu" class="menu">
    {{#each link}}
        <a href="#" id="{{id}}" class="menu-item">{{text}}</a>
    {{/each}}

    <span id="loggedInUser" class="menu-item"></span>
    <div></div>
</header>
